
 footer {
     display: block;
     background-color: black;
     text-decoration: none;
     border-end-end-radius: 41;
     
     
 }
 .grid-rodape {
    display: grid;
    display: grid;
    gap: 1px;

 }
 .grid-rodape h1 {
     
     color: whitesmoke;
 }
 .grid-content {
     display: grid;
 }

 