body {
    margin: 0;/*Paa todos firarem colados na tela */
}

#app {/*poruqe ele vai ter a altura completa, para transformar ele em uma coluna de tres partes*/
    height: 100vh;
    display: flex;
    flex-direction: column;/*transforma em colunas */
    justify-content: space-between;/*dá espasso entre todos os itens */
}
.menu-topo {
    background:#ffc7c7;
}
.menu-topo ul {
    display: flex;
    justify-content: space-evenly;/*faz com que eles ocupem o mesmo espaço entre eles */
}
.menu-topo ul li {
    list-style: none;
}
.conteudo {
    background: #e2e2;
    flex: 1;/*define o tamanho que o conteudo vai ocupar dentro da destribuição *//*o número diz respeito a ierarquia de porsemtagem que ele vai ocupar */
    display: flex;
   /* flex-direction: column;*/
   flex-direction: column-reverse;/*reverte os elementos no caso as colunas mas também pode ser aplicado em colunas */
   /*------quebrando a linha---------*/
  /* align-items: center;
   
   flex-wrap: wrap;/*ele faz com que as linhas sejam emrulhadas dentro da div ou seja impede que as linhas sigam infinitamente pra fora dela */
   
}
.card {
    background: whitesmoke;
    margin: 10px;
    flex: 1;
    padding: 10px;
    /*------quebrando a linha---------*/
   /* height: 100px;
    width: 100px;*/
 /*---------------*/
}
.footer {
    background: #ffc7c7;
}
